<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.wanhe.mapper.StudentMapper">

    <resultMap id="studentResultMap" type="net.wanhe.model.Student">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="addStudent" parameterType="net.wanhe.model.Student">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
        SELECT LAST_INSERT_ID()
    </selectKey>
        INSERT INTO student VALUES(NULL,#{name},#{age})
    </insert>

    <delete id="deleteStudent" parameterType="java.lang.Integer">
        DELETE FROM student WHERE id=#{id}
    </delete>

    <update id="updateStudent" parameterType="net.wanhe.model.Student">
        UPDATE student SET name=#{name},age=#{age} WHERE id=#{id}
    </update>

    <select id="getStudentById" resultMap="studentResultMap" parameterType="java.lang.Integer">
        SELECT * FROM student WHERE id=#{id}
    </select>

    <select id="getAllStudents" resultMap="studentResultMap" parameterType="java.lang.String">
        SELECT * FROM student WHERE 1=1
        <if test="null != name">
            AND NAME LIKE concat('%',#{name},'%')
        </if>
    </select>
</mapper>