<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--注解扫描器-->
    <context:component-scan base-package="net.wanhe"/>


    <bean id="student" class="net.wanhe.pojo.Student" p:id="01" p:name="小陈" p:age="25">
        <!--<property name="id" value="1"/>-->
        <!--<property name="name" value="小明"/>-->
        <!--<property name="age" value="15"/>-->
    </bean>

    <bean id="userDao" class="net.wanhe.dao.UserDaoImpl"/>
    <!--<bean id="userService" class="net.wanhe.service.UserService">-->
        <!--<property name="userDao" ref="userDao"></property>-->
    <!--</bean>-->
    <bean id="userService" class="net.wanhe.service.UserService" p:userDao="userDao" p:userDao-ref="userDao"/>

    <bean id="person" class="net.wanhe.pojo.Person">
        <property name="id" value="01"/>
        <property name="name" value="陈欢"/>
        <property name="car">
            <list >
                <value>奔驰</value>
                <value>宝马</value>
                <value>大众</value>
            </list>
        </property>
        <property name="list">
            <list >
                <value>奔驰</value>
                <value>宝马</value>
                <value>大众</value>
            </list>
        </property>
        <property name="map">
            <map>
                <entry key="01" value="陈"></entry>
                <entry key="01" value="谢"></entry>
                <entry key="01" value="吗"></entry>
            </map>
        </property>
        <property name="properties">
            <props>
                <prop key="driverClassName">com.mysql.jdbc.Driver</prop>
                <prop key="url">mysql:jdbc://127.0.0.1?chcharacset=utf8</prop>
                <prop key="userName">rootc</prop>
                <prop key="password">11111</prop>
            </props>
        </property>
    </bean>
</beans>