<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.wanhe.dao.StudentMapper">
    <insert id="addStudent" parameterType="net.wanhe.model.Student">
        insert into student values(null,#{name},#{age})
    </insert>
</mapper>